body{
	background-size: 100% 170%;
}
h1{
	font-family: 'Yeseva One', cursive;	
	text-align: center;
	padding-top: 20px;
	font-size: 75px;
	color: black;
}
h3{
	font-family: 'Yeseva One', cursive;
	text-align: center;
	color: black;
}
div{
	font-family: 'Yeseva One', cursive;
	text-align: center;
	padding: 25px;
	color: black;
}
form{
	font-family: 'Yeseva One', cursive;
	text-align: center;
	color: black;
}